/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand,
  .navbar-brand:hover {
    margin-left: 0.75rem;
    width: 6rem;
  }

  .nav-item {
    margin-left: 0.75rem;
  }

  .nav-item a {
    font-size: 1.2rem;
  }

  .nav-item img {
    display: none;
  }

  .intro {
    height: 80rem;
  }

  .intro h1 {
    top: 11rem;
    left: 1.75rem;
    width: 90vw;
    line-height: 6rem;
    font-size: 4.3rem;
  }

  .intro h2 {
    top: 12.5rem;
    left: 1.75rem;
    width: 88vw;
    font-size: 1.55rem;
  }

  .intro button,
  .intro button:hover {
    top: 15rem;
    height: 4rem;
    border-radius: 20px;
    font-size: 1.25rem;
  }

  .intro button:nth-child(3) {
    width: 16rem;
    left: 1.75rem;
  }

  .intro .secondBr {
    display: none;
  }

  .intro button:nth-child(5) {
    width: 13rem;
    left: 5.25rem;
  }

  .intro img {
    width: 37rem;
    top: 40rem;
    right: 0rem;
  }

  .services {
    height: 90rem;
  }

  .services .container {
    min-width: 100%;
  }

  .services img {
    padding-top: 4rem;
    width: 3.5rem;
  }

  .services h6 {
    padding-top: 4rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .services .container .row:nth-child(2) {
    height: 30rem;
  }

  .services .CupfyDarkLogo {
    top: 5rem;
    left: 5vw;
    width: 14rem;
  }

  .services h2 {
    top: 8.5rem;
    right: 6vw;
    font-size: 2.25rem;
    width: 24rem;
    line-height: 2.9rem;
  }

  .services p {
    top: 3rem;
    left: 6vw;
    width: 90vw;
    font-size: 1rem;
    text-align: center;
  }

  .process {
    padding-top: 5rem;
  }

  .process .imgBox {
    min-height: 31rem;
  }

  .process .SecondCup {
    width: 35rem;
  }

  .process .h1Box {
    height: 6rem;
  }

  .process h1 {
    left: 3rem;
    font-size: 1.5rem;
    width: 20rem;
  }

  .process h2 {
    top: 2.25rem;
    left: 3rem;
    font-size: 1.6rem;
    width: 20rem;
  }

  .process .row:nth-child(2),
  .process .row:nth-child(3),
  .process .row:nth-child(4) {
    height: 7rem;
  }

  .process .icon {
    margin-top: 1.5rem;
    left: 1.75rem;
    width: 6rem;
  }

  .process h3 {
    left: 7.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
  }

  .process .row:nth-child(1) p {
    width: 60vw;
    left: 7.5rem;
    margin-top: 3rem;
    font-size: 0.9rem;
    line-height: 1.35;
  }

  .process .appStoreBox {
    height: 9rem;
  }

  .process .playStoreBox {
    height: 6rem;
  }

  .process .appStore {
    margin-top: 2rem;
    left: 7.5rem;
    width: 11rem;
    height: 4rem;
    font-size: 0.9rem;
  }

  .process .playStore {
    left: 7.5rem;
    width: 11rem;
    height: 4rem;
    font-size: 0.9rem;
  }

  .process .contactUs p {
    margin: 0.25rem;
    margin-left: 5vw;
    padding-top: 1.5rem;
    width: 90vw;
    font-size: 0.9rem;
    text-align: center;
  }

  .process .contactUs p br {
    display: none;
  }

  .pricing .h1Box {
    margin-top: 3rem;
    min-height: 2.5rem;
  }

  .pricing .container .row:nth-child(1) h1 {
    left: 2rem;
    font-size: 1.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) {
    height: 4.5rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(1) p {
    text-align: left;
    font-size: medium;
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .pricing .container .row:nth-child(2) .col-lg:nth-child(2) {
    height: 3.5rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(1) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing
    .container
    .row:nth-child(2)
    .col-lg:nth-child(2)
    button:nth-child(2) {
    font-size: 0.8rem;
    width: 8rem;
  }

  .pricing .card {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: 30rem;
  }

  .pricing .card h1 {
    top: 2.75rem;
    left: 2rem;
    font-size: 1rem;
  }

  .pricing .card span {
    font-size: 2rem;
  }

  .pricing .card h2 {
    top: 6.75rem;
    left: 2rem;
    font-size: 1.6rem;
  }

  .pricing .card p {
    top: 10rem;
    left: 2rem;
    width: 10rem;
    text-align: justify;
    font-size: 1.1rem;
  }

  .pricing .card .checkBox {
    float: left;
    top: 11.5rem;
    left: 0.75rem;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .pricing .card .checkBox img {
    width: 1.3rem;
  }

  .partners {
    margin-top: 2.5rem;
    background-color: #d9d9d9;
  }

  .partners h1 {
    right: 13.5rem;
    width: 16rem;
    text-align: left;
  }

  .partners img {
    padding: 2rem;
  }

  .map .h1Box {
    height: 6.25rem;
  }

  .map h1 {
    left: 1rem;
    width: 16rem;
  }

  .map .imgBox {
    margin-top: 1rem;
  }

  .banner {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
  }

  .banner .box {
    height: 9rem;
  }

  .banner .ThirdCup {
    width: 18rem;
  }

  .banner h2 {
    top: 1.75rem;
    left: 0rem;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .banner button {
    left: 0rem;
    bottom: 1.75rem;
    width: 7.5rem;
    height: 2.25rem;
    font-size: 0.55rem;
  }

  .footer {
    height: 32rem;
  }

  .footer .CupfyLogo {
    float: left;
    width: 7rem;
    margin-top: 0.75rem;
    margin-left: 0.75rem;
  }

  .footer .header p {
    margin-top: 1rem;
    text-align: left;
    margin-left: 0.75rem;
    margin-top: 1rem;
    width: 100vw;
  }

  .footer .smallerDevicesSocialMedia {
    margin-top: 1.5rem;
    float: left;
  }

  .footer .smallerDevicesSocialMedia img {
    margin-top: 1rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    height: 1.75rem;
  }

  .footer .appStore {
    margin-top: 2rem;
    float: left;
    margin-left: 0.75rem;
    color: #f5f5f5;
    width: 11rem;
    height: 4rem;
    font-size: 0.9rem;
  }

  .footer .playStore {
    margin-top: 1rem;
    float: left;
    margin-left: 0.75rem;
    color: #f5f5f5;
    width: 11rem;
    height: 4rem;
    font-size: 0.9rem;
  }

  .footer .smallerDevicesSocialMedia .InstagramIconForSmallerDevices {
    transform: scale(1.25);
    margin-top: 1.5rem;
  }

  .footer .privacyPolicy {
    padding: 0rem;
  }

  .footer .privacyPolicy p {
    position: relative;
    top: 1.5rem;
    margin-top: 0.5rem;
    width: 50vw;
    float: left;
    left: 1rem;
    text-align: start;
    color: #ffffff;
  }

  .footer .largerDevicesSocialMedia {
    display: none;
  }
}
